<ion-header [translucent]="true">
  <ion-toolbar style="--background: #D77E3A">
    <div class="d-flex justify-content-between mx-2">
      <img src="../../assets/disparbud.png" alt="" width="250px" />
      <div class="d-flex justify-content-center align-items-center">
        <span class="text-white">Logout</span>
        <ion-icon name="log-out-outline" class="ms-1 text-white" style="font-size: 20px"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
